.word {
    border-radius: 5px;
    padding: .2rem;
    margin: .1rem;
}

.color-normal {
    border: 1px solid lightslategray;
}

.color-ignore {    
}

.color-highlight {
    border: 1px solid darkorange;
    background-color: orange;
}